
.buttonCart {
    display: block;
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
    border: 0.1rem solid black;
    background: none;
    padding: 0.6rem 1.8rem;
    border-radius: 0.6rem;
    cursor: pointer;
 
    &:hover {

    }
}


