
.buttonCart {
    position: relative;
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    border: 0.1rem solid black;
    padding: 0.8rem 1.4rem;
    border-radius: 0.4rem;
    cursor: pointer;
    color: black;
    background-color: white;
    // z-index: 21;

    &:hover {
        color: white;
        background-color: black;
        font-weight: 600;
    }
}


