.cardLargeChroniques {
    position: relative;   
    width: 58.2rem;
    height: auto;
    grid-column: 1/3;
    grid-row: 2/4;
}

.cardLargePodcasts{
    position: relative;   
    width: 58.2rem;
    height: auto;
    grid-column: 1/3;
    grid-row: 5/8;
}

.titleCardLarge {
    width: 100%;
    height: auto;
    font-family: 'lora', serif;
    font-size: 2.4rem;
    font-weight: 600;
    color: black;
    margin-top: 1.8rem;
    line-height: 2.4rem;
}
.cardLargePicture{
    width: 58.2rem;
    height: 35.2rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.6rem;
    
}

.textCardLarge {
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 200;
    color: #434343;
    margin-top: 1.4rem;

}

@media screen and (max-width: 1240px) {
    .cardLargeChroniques {
    grid-column: 1/3;

    }
    .cardLargePodcasts{
    grid-column: 1/3;

    }

}

@media screen and (max-width: 1040px) {
    .cardLargeChroniques {
        width: 68.2rem;
        height: auto;
        grid-column: 1/2;
        }
        .cardLargePodcasts{
        grid-column: 1/2;
        width: 68.2rem;
        height: auto;
        }
        .cardLargePicture{
        width: 68.2rem;
        height: 41.2rem;  
        }
}

@media screen and (max-width: 740px) {
    .cardLargeChroniques {
        width: 58.2rem;
    }
    .cardLargePodcasts{

        width: 58.2rem;

        }
        .cardLargePicture{
            width: 58.2rem;
        height: 35.1rem;  
        }
}

@media screen and (max-width: 640px) {
    .cardLargeChroniques {
        width: 48.2rem;
    }
    .cardLargePodcasts{

        width: 48.2rem;

        }
        .cardLargePicture{
        width: 48.2rem;
        height: 29rem;  
        }
}

@media screen and (max-width: 540px) {
    .cardLargeChroniques {
        width: 42.2rem;
    }
    .cardLargePodcasts{

        width: 42.2rem;

        }
        .cardLargePicture{
        width: 42.2rem;
        height: 25.4rem;  
        }
}