.cardLarge {
 position: relative;   
 width: 58.2rem;
 height: auto;
 grid-column: 1/3;
}

.titleCardLarge {
    width: 100%;
    height: auto;
    font-family: 'lora', serif;
    font-size: 2.4rem;
    font-weight: 600;
    color: black;
    margin-top: 1.8rem;
    line-height: 2.4rem;
}

.textCardLarge {
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 200;
    color: #434343;
    margin-top: 2.4rem;

}