.cardMedium{
 position: relative;   
 width: 58.2rem;
 height: 16.8rem;
 grid-column: 3/5;
justify-self: center;
display: flex;
flex-flow: row nowrap;
justify-self: end;
}

.titleCardMedium {

    height: 3.2rem;
    font-family: 'lora', serif;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    margin-top: 1.2rem;
    line-height: 2.4rem;
    margin-left: 2.0rem;

}

