.cardPodcast {
    position: relative;   
    width: 28rem;
    height: auto;
    cursor: pointer;
    display: flex;
    flex-flow: column;
}

.pictureCardPodcast{
    width: 28rem;
    height: 16.8rem;
    border-radius: 0.6rem;
    background-position: center;
    background-size: cover;
}



.textContainerCardPodcast{
    width: 28rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.2rem;
} 

.titleCardPodcast {
    width: 100%;
    height: auto;
    font-family: 'lora', serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
    // margin-top: 1.2rem;
    line-height: 2.4rem;
}



// .textCardPodcast  {
//     width: 100%;
//     height: auto;
//     font-size: 1.4rem;
//     line-height: 2.4rem;
//     font-weight: 200;
//     color: #434343;
//     margin-top: 0.6rem;
//     margin-bottom: 1.2rem;
// }

@media screen and (max-width: 1240px) {
    .cardPodcast {
        width: 28rem;
    flex-flow: column;
    }
    .textContainerCardPodcast{
        width: 28rem;
        margin-top: 1.2rem;
        margin-left:0;
    } 
}

@media screen and (max-width: 1040px) {
}

@media screen and (max-width: 740px) {

}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 540px) {

}

@media screen and (max-width: 460px) {

}
@media screen and (max-width: 400px) {

}

@media screen and (max-width: 340px) {
}