.cardMedium {
 position: relative;   
 width: 58.2rem;
 height: 16.8rem;
 grid-column: 3/5;
justify-self: end;
display: flex;
flex-flow: row nowrap;
justify-self: end;
}

.cardMediumPicture {
    width: 29.1rem;
    height: 16.8rem;
    border-radius: 0.6rem;
    overflow: hidden;
    img {
        width: 29.1rem;
        height: 16.8rem;
    }
}

.titleCardMedium {
    width: 29.1rem;
    height: 3.2rem;
    font-family: 'lora', serif;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    margin-top: 1.2rem;
    line-height: 2.4rem;
    margin-left: 2.0rem;
    padding-right: 1.8rem;
}

@media screen and (max-width: 1240px) {

    .cardMedium{
        width: 28rem;
        height: 24.8rem;
        flex-flow: column;
        align-self: start;
    }
    .titleCardMedium {
        margin-top: 1.6rem;
        margin-left: 0;
    }
    .cardMediumPicture {
        width: 28rem;
        height: 16.2rem;
        img {
            width: 28rem;
            height: 16.2rem;
        }
    }

}