.cardSmall{
 position: relative;   
 width: 28rem;
 height: 24.8rem;
 grid-column: auto / auto;
 justify-self: end;
}

.titleCardSmall {
    width: 100%;
    height: 3.2rem;
    font-family: 'lora', serif;
    font-size: 1.7rem;
    font-weight: 600;
    color: black;
    margin-top: 1.2rem;
    line-height: 2.4rem;
}

