
.buttonCart {
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
    border: none;
    background: none;
    padding: 0.2rem 0.0rem;
    border-radius: 0.4rem;
    cursor: pointer;
    display: flex;
    flex-grow: row nowrap;
    align-items: center;
    justify-self: end;
    span {
        // margin-right: 1.2rem;
            
    &:hover {
        text-decoration: underline;
    }
    
    }

    justify-self: flex-end;
}


.productCountCart {
    width: 1.6rem;
    height: 1.6rem;
    color: white;
    background-color: black;
    transform: translateY(-0.7rem);
    border-radius: 50%;
    opacity: 1;
    margin-left: 0.2rem;
    span {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.6rem;
        &:hover {
            text-decoration: none;
        }
    }
        

}