.containerSelectFilter {
    justify-self: flex-start;
    padding: 0 4rem 0 2.6rem;
}

.selectFilter {
    width: 9rem;
    outline: none;
    border: none;
    background-color: transparent;
    margin: 1.2rem 0 1.2rem 2.4rem;
}

@media screen and (max-width: 460px) {
    .containerSelectFilter {
        padding: 0 3rem 0 2.6rem;
    }
    .selectFilter {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .containerSelectFilter {
        padding: 0 1rem 0 1rem;
    }
    .selectFilter {

        margin-left: 0;

    }
}
