.containerMore {
    width: 67.2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.headerMore {
    width: 100%;
    height: 6rem;
    border-bottom: 0.1rem solid #efefef;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.titleMore {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.4rem;
}

.linkMore {
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    text-decoration: underline;
}

.contentMore {
    width: 100%;
    height: 17rem;
    margin: 2.8rem 0 0rem 0;
    display: flex;
    flex-grow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.iconLeftMore {
    padding-left: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.iconRightMore {
    padding-right: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

@media screen and (max-width: 740px) {
    .containerMore {
        width: 58.2rem;
    }
}

@media screen and (max-width: 640px) {
    .containerMore {
        width: 48.2rem;
    }
    .titleMore {
    font-size: 1.6rem;  
    }
}

@media screen and (max-width: 540px) {
    .containerMore {
        width: 42.2rem;
    }
    .linkMore {
        font-size: 1rem;
    }
}

@media screen and (max-width: 460px) {
    .containerMore {
        width: 36rem;
    }
}

@media screen and (max-width: 400px) {
    .containerMore {
        width: 30rem;
    }
    .titleMore {
        font-size: 1.4rem;  
        }
}

@media screen and (max-width: 340px) {
    .containerMore {
        width: 28rem;
    }
}
