.quantityContainer {
    width: auto;
    height: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: black;
    background-color: white;
    border-radius: 0.6rem;
    align-self: center;
}

.quantityButton {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: black;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 1.4rem 1.7rem;
}

.quantityValue {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: black;
}

@media screen and(max-width: 460px) {
    .quantityButton {
        font-size: 1.2rem;
        padding: 1rem 1.2rem;
    }

    .quantityValue {
        font-size: 1.2rem;
    }
}


@media screen and(max-width: 400px) {
    .quantityButton {
        font-size: 1.2rem;
        padding: 1rem 0.6rem;
    }

    .quantityValue {
        font-size: 1.2rem;
    }
}

