.formSearch {
    height: 4.8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.5px solid #fcfcfcfb;
}

.formSearch label {
    transform: translateY(0.2rem);
}

.inputSearch {
    width: 24rem;
    font-size: 1.4rem;
    line-height: 4.8rem;
    outline: none;
    border: none;
    background-color: transparent;
    margin-left: 1.2rem;
    &::placeholder {
        color: #eeeeee;
    }
}

.buttonSearch {
    width:4.8rem;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 4.8rem;
    border: none;
    background: transparent;
    border-radius: 0.4rem;
    cursor: pointer;
    &:hover {
        font-weight: 800;
    }
}

@media screen and (max-width: 640px) {
    .formSearch {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .inputSearch {
        width: 100%;
        font-size: 1.4rem;
    }
}


