.containerSectionBar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-column: 1/5;
}

.sectionBar {
    width: 100%;
    height: 7.2rem;
    border-top: 0.1rem solid #efefef;
    border-bottom: 0.1rem solid #efefef;
    margin-top: 2.4rem;
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerTitleSearchSectionBar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.titleSectionBar {
    font-size: 1.8rem;
    font-weight: 700;
    color: black;
    margin-right: 2.4rem;
}

.searchSectionBar {
    transform: translateY(0.15rem);
}

.linkSectionBar {
    font-size: 1.2rem;
    line-height: 4.8rem;
    font-weight: 600;
    color: black;
    text-decoration: underline;
}

.searchInputContainer {
    display: block;
}

.searchMobile {
    position: none;
}

.searchInputMobileContainerBlog {
    display: none;
}

.iconSearchMobileBlogSearch, .iconSearchMobileBlogClose  {
    display: none;
}

.searchMobile {
    display: none;
}

@media screen and (max-width: 1240px) {
    .containerSectionBar {
        grid-column: 1/4;
    }
}
@media screen and (max-width: 1040px) {
    .containerSectionBar {
        grid-column: 1/3;
    }
}
@media screen and (max-width: 740px) {
    .searchMobile {
        width: 80%;
        height: 3.6rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1.2rem;
    }
    .searchInputContainer {
        display: none;
    }

    .searchInputMobileContainerBlog {
        width: 100%;
        display: flex;
        flex-grow: row nowrap;
        align-items: center;
        margin: 0rem 0 0 0;
        opacity: 0.9;
        z-index: 5;
        background-color: white;
    }
    .iconSearchMobileBlogSearch {
        display: block;
        position: relative;
        width: 4.2rem !important;
        height: 4.2rem !important;
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        z-index: 5;
    }
    .iconSearchMobileBlogClose {
        display: block;
        position: relative;
        width: 4.2rem !important;
        height: 4.2rem !important;
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        z-index: 5;
    }
}

@media screen and (max-width: 540px) {
    .containerSectionBar {
        grid-column: 1/2;
    }
}

@media screen and (max-width: 440px) {
    .containerSectionBar {
        grid-column: 1/2;
    }
    .titleSectionBar {
        font-size: 1.6rem;
    }
    .linkSectionBar {
        font-size: 1rem;
    }
}
@media screen and (max-width: 340px) {
    .titleSectionBar {
        font-size: 1.4rem;
    }
    .linkSectionBar {
        font-size: 0.9rem;
    }
}
