.footer {
    width: 100%;
    height: 14.4rem;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 12rem;
}

.footerContent {
    width: 118.8rem;
    display: flex;
    flex-grow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.footerLogoContainer {
    display: flex;
    flex-direction: column;

}
.footerLogo {
    color: white;
    font-size: 1.5rem;  
    font-weight: 600;
    letter-spacing: 0%;
}

.footerBy {
    font-size: 1.2rem;
    font-weight: 400;  
    color: #ADADAD;
 
}

.footerNav {

    // margin-right: 19.6rem;
}

.footerNavItem {
    color: #ADADAD;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 4.8rem;
    &:hover{
        text-decoration: underline;
    }
}

.footerMentions {
width: 25.2rem;
height: 3.2rem;
display: flex;
flex-direction: column;

span{
color: #ADADAD;
font-size: 1.1rem;
font-weight: 400;
}
}

@media screen and (max-width: 1240px) {
    .footerContent  {
        width: 88.6rem;
    }
    .footerLogoContainer {
        margin-right: 4.4rem;
    }
    .footerLogo {
        font-size: 1.3rem; 
    }
    .footerBy {
        font-size: 1.1rem; 
    }
    .footerNav {

        // margin-right: 11rem;
    }
    .footerMentions {
        width: 22.2rem;
        span {
        font-size: 1rem;
        font-weight: 400;
        }
        }
}

@media screen and (max-width: 1040px) {
    .footerContent  {
        width: 68.2rem;
    }

    .footerNav {
        display: flex;
        flex-direction: column;
    }
    .footerMentions {
        width: 18.2rem;
        span{

            font-size: 0.8rem;
            font-weight: 400;
            }
    }
}

@media screen and (max-width: 740px) {
    .footerContent  {
        width: 58.2rem;
    }
}

@media screen and (max-width: 640px) {    
    .footerContent  {
    width: 48.2rem;
    }
    .footerLogoContainer {
        width: 12.2rem;
    }
    .footerLogo {
        font-size: 1.0rem; 
    }
    .footerBy {
        font-size: 0.9rem; 
    }
    .footerNav {


    }
    .footerMentions {
        width: 18.2rem;
        span {
        font-size: 0.8rem;
        font-weight: 400;
        }
        }
}

@media screen and (max-width: 540px) {    
    .footerContent  {
        width: 42.2rem;
    }
    .footerLogoContainer {
        width: 18.2rem;
    }
    .footerLogo {
        font-size: 0.9rem; 
    }
    .footerBy {
        font-size: 0.8rem; 
    }
    .footerNav {

    }
    .footerMentions {
        width: 20.2rem;
        span {
        font-size: 0.7rem;
        font-weight: 400;
        }
    }
}

@media screen and (max-width: 460px) {
    .footerContent  {
        width: 36rem;
    }
    .footerLogoContainer {
        width: 20.2rem;
    }
    .footerLogo {
        font-size: 0.9rem; 
    }
    .footerBy {
        font-size: 0.7rem; 
    }
    .footerNav {


    }

    .footerNavItem {
        font-size: 0.8rem; 
    }
    .footerMentions {
        width: 26.2rem;

        span {
        font-size: 0.7rem;
        font-weight: 400;
        }
        }
}

@media screen and (max-width: 400px) {
    .footerContent  {
        width: 30rem;
    }
    .footerLogoContainer {
        width: 20.2rem;
    }
    .footerLogo {
        font-size: 0.9rem; 
    }
    .footerBy {
        font-size: 0.7rem; 
    }
    .footerNav {


    }

    .footerNavItem {
        font-size: 0.8rem; 
    }
    .footerMentions {
        width: 26.2rem;

        span {
        font-size: 0.7rem;
        font-weight: 400;
        }
        }
}


@media screen and (max-width: 340px) {
    .footerContent  {
        width: 28rem;
    }
    .footerLogoContainer {
        width: 20.2rem;
    }
    .footerLogo {
        font-size: 0.9rem; 
    }
    .footerBy {
        font-size: 0.7rem; 
    }
    .footerNav {

    }

    .footerNavItem {
        font-size: 0.7em; 
    }
    .footerMentions {
        width: 26.2rem;

        span {
        font-size: 0.6rem;
        font-weight: 400;
        }
        }
}