.header {
    width: 100%;
    height: 7.2rem;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: center;
    opacity: 0.9;
    z-index: 1;
}

.headerContent {
    width: 118.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.logo {
    color: white;
    font-size: 1.6rem;  
    line-height: 1.3rem;
    font-weight: 600;
    letter-spacing: 0%;
}

.by {
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 400;  
    color: #ADADAD;
    margin-left: 1.2rem;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}

.searchButton {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.6rem;
    border: 0.18rem solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.searchInput {
    flex-direction: row;
    justify-content: center;
    align-items: center;


    input {
        width: 18rem;

        outline: none;
        border:none;
        background-color:transparent;
        color: white;
        border-bottom: 1px solid white;
        animation-duration: 1s;
animation-iteration-count: 1;
    }
}

.navItem {
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 3.2rem;
    &:hover{
        text-decoration: underline;
    }
}

@media screen and (max-width: 1240px) {
    .headerContent {
        width: 88.6rem;
    }
    .logoContainer {
        height: 3.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .logo {
        font-size: 1.5rem;  
    }
    .by {
        font-size: 1.1rem;
        margin-left: 0;
    }

}