.containerAbout {

    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/5;
    

}

.navBarAbout{
    position: fixed;
    width: 118.8rem;
    height: 7.2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #EFEFEF;
    background-color: white;
    opacity: 0.9;
    z-index: 5;
    margin-top: 2.4rem;
}



.contentAbout {
    width: 67.2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 12rem;
}



.pictureAbout {
    width: 42rem;
    height: 25.2rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.6rem;
    align-self: center;
    margin: 2.4rem 0 3.2rem 0;
}

.textAbout {
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 300;
    font-family: poppins, sans-serif;
    margin: 1.2rem 0;
    strong {
        font-weight: 400;
    }
    a, em {
        font-weight: 300;
        text-decoration: underline;
    }
}

.emailTextAbout{
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 300;
    font-family: poppins, sans-serif;
    margin: 5rem 0 0rem 0rem;

}

.emailAbout {
    text-decoration: underline;
    font-weight: 500;
}