.containerBlog {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
    margin-top: 2.4rem;
}

.navBarBlog {
    position: fixed;
    width: 118.8rem;
    height: 7.2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #efefef;
    background-color: white;
    opacity: 0.9;
    z-index: 5;
}

.containerBlogHeaderFilter {
    width: auto;
    height: 7.2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.contentBlog {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    column-gap: 2.2rem;
    row-gap: 2.4rem;
    margin-top: 10rem;
}

.searchBarBlog {
    position: fixed;
    width: 118.8rem;
    height: 7.2rem;
    margin-top: 6rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    opacity: 0.9;
    z-index: 5;
    h2 {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 500;
        overflow: hidden;
    }
    button {
        width:12rem;
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin-left: 0.6rem;
        font-weight: 600;
        text-decoration-line: underline;
        color: black;
        text-align: end;
        border: none;
        background: transparent;
        cursor: pointer;
    }
}

.searchInputContainer {
    display: block;
}

.searchMobile {
    position: none;

}

.searchInputMobileContainer {
    position: fixed;
    display: none;
    z-index: 5;
}

.iconSearchMobile {
    display: none;

}

.iconClosehMobile {
    margin-left: 4.2rem;
}

.cardSmallBlog {
    grid-row: none;
}

.containerLoaderBlog {
    position: fixed;
    width: 118.8rem;
    height: auto;
    top: 50vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.loader {
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .loaderIcon {
        border: 2.2px solid hsla(0, 0%, 0%, 0.3);
        border-top-color: hsla(0, 0%, 0%, 1);
        border-radius: 50%;
        width: 2.4rem;
        height: 2.4rem;
        animation: spin 0.7s linear infinite;
    }
    span {
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 400;
        margin-top: 0.8rem;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.containerButtonBlog {
    width: 118.8rem;
    height: 9.4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.buttonMoreBlog {
    height: 4.2rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 600;
    text-decoration-line: underline;
    color: black;
    border: none;
    background: transparent;
    cursor: pointer;
    grid-column: 1/5;
    justify-self: center;
    margin-top: 2.4rem;
}

@media screen and (max-width: 1240px) {
    .navBarBlog,
    .containerLoaderBlog,
    .searchBarBlog {
        width: 88.6rem;
    }
    .contentBlog {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1040px) {
    .navBarBlog,
    .containerLoaderBlog,
    .searchBarBlog {
        width: 68.2rem;
    }
    .contentBlog {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4.2rem;
    }
}

@media screen and (max-width: 740px) {
    .contentBlog {
        column-gap: 3.6rem;
    }
    .navBarBlog,
    .searchBarBlog {
        width: 58.2rem;
    }
    .searchInputContainer {
        display: none;
    }

    .searchInputMobileContainer {
        display: fixed;
        width: 100%;
        display: flex;
        flex-grow: row nowrap;
        margin: 7.2rem 0 0 0;
        opacity: 0.9;
        z-index: 5;
        background-color: white;
    }
    .iconSearchMobile {
        display: block;
        position: relative;
        width: 4.2rem !important;
        height: 4.2rem !important;
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        z-index: 5;
    }
    .containerLoaderBlog {
        width: 58.2rem;
    }
}

@media screen and (max-width: 640px) {
    .navBarBlog {
        width: 48.2rem;
    }
    .searchBarBlog{
        width: 48.2rem;

        h2 {
            font-size: 1.2rem;
            line-height: 1.4rem;
            font-weight: 500;
        }
        button {
            font-size: 1rem;
        }
    }
    .containerLoaderBlog {
        width: 48.2rem;
    }


    .contentBlog {
        column-gap: 3.8rem;
    }
}

@media screen and (max-width: 540px) {
    .navBarBlog,
    .searchBarBlog,
    .containerLoaderBlog {
        width: 42.2rem;
    }
    .contentBlog {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 460px) {
    .navBarBlog,
    .searchBarBlog,
    .containerLoaderBlog {
        width: 36rem;
    }
}

@media screen and (max-width: 400px) {
    .navBarBlog,
    .searchBarBlog,
    .containerLoaderBlog {
        width: 30rem;
    }
}

@media screen and (max-width: 340px) {
    .navBarBlog,
    .searchBarBlog,
    .containerLoaderBlog {
        width: 28rem;
    }
}
