.containerCart {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2.4rem;
}

.contentCart {
    width: 118.8rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navBarCart {
    position: fixed;
    width: 118.8rem;
    height: 7.2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #efefef;
    background-color: white;
    opacity: 0.9;
    z-index: 5;
    h2 {
        font-size: 2rem;
    }
    a {
        font-weight: 500;
        font-size: 1.2rem;
        &:hover {
            text-decoration: underline;
        }
    }
}

.searchBarBlog {
    position: fixed;
    width: 118.8rem;
    height: 6rem;
    margin-top: 6rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    opacity: 0.9;
    z-index: 5;
    h2 {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 500;
    }
    button {
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin-left: 1.2rem;
        font-weight: 600;
        text-decoration-line: underline;
        color: black;
        border: none;
        background: transparent;
        cursor: pointer;
    }
}

.tableCart {
    width: 100%;
    min-height: 14rem;
    display: grid;
    align-items: start;
    grid-template-columns: 8rem 1fr 4rem 12rem 6rem 1.4rem;
    column-gap: 0.8rem;
    row-gap: 1.4rem;
    margin: 10.4rem 0 4.2rem 0;

    justify-items: center;
    align-items: center;

    span {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 500;
    }
    .thTableTitreCart {
        grid-column: 1/3;
        justify-items: center;
        align-self: start;
    }
    .thTableCart {
        margin-bottom: 1.8rem;
        align-self: start;
    }
    .pictureCardCart {
        grid-column: 1/2;
    }
    .titleTableCart {
        grid-column: 2/3;
        justify-self: start;
        // margin-left: 1.2rem;
    }
    .noItemsCart {
        grid-column: 1/7;

        justify-self: center;
        align-self: center;
        font-style: italic;
    }
}

.pictureCardCart {
    width: 6rem;
    height: 7.22rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.6rem;
}

.iconDeleteCartContainer {
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.iconDeleteCart {
}

.cardSmallBlog {
    grid-row: none;
}

.tableCartfooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 16rem;
    display: grid;
    grid-template-columns: 8rem 1fr 4rem 12rem 6rem 1.4rem;
    column-gap: 1.2rem;
    row-gap: 0.8rem;

    justify-items: center;
    align-items: center;
    span {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 500;
    }
    .iconDeleteCart {
        justify-self: end;
    }
    .sumTableCart {
        grid-column: 3/5;
        display: flex;
        justify-self: center;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        align-self: center;

        .sumNoticeTableCart {
            font-size: 1.2em;
            line-height: 1.2rem;
            font-weight: 400;
            font-style: italic;
            justify-self: center;
            text-align: end;
            margin-top: 0.8rem;
        }
    }
    .sumValueTableCart {
        grid-column: 5/7;
        justify-self: center;
    }

    button {
        grid-column: 3/7;
        justify-self: end;
    }
}

.redirectionStripeContainer {
    grid-column: 3/7;
    justify-self: end;
    width: auto;
    height: 3.2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    justify-self: flex-end;
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    color: white;
    background-color: black;
    span {
        color: white;
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: 400;
        margin-right: 0.4rem;
    }
}

.loaderButton {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 5;

    .loaderIconButton {
        border: 2px solid hsla(0, 0%, 100%, 0.3);
        border-top-color: rgb(255, 255, 255);
        border-radius: 50%;
        width: 1.8rem;
        height: 1.8rem;
        animation: spin 0.7s linear infinite;
        z-index: 5;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1240px) {
    .navBarCart {
        width: 88.6rem;
    }
    .searchBarBlog {
        width: 88.6rem;
    }
    .contentBlog {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1040px) {
    .navBarCart {
        width: 68.2rem;
    }
    .searchBarBlog {
        width: 68.2rem;
    }
    .contentBlog {
        grid-template-columns: repeat(2, 1fr);
    }
    .iconDeleteCartContainer {
        width: 1.2rem;
        height: 1.2rem;
    }
}

@media screen and (max-width: 740px) {
    .tableCart {
        span {
            font-size: 1.2rem;
        }
    }
    .navBarCart {
        width: 58.2rem;
    }
    .searchBarBlog {
        width: 58.2rem;
    }
}

@media screen and (max-width: 640px) {
    .navBarCart {
        width: 48.2rem;
    }
    .searchBarBlog {
        width: 48.2rem;
    }
}

@media screen and (max-width: 540px) {
    .navBarCart {
        width: 42.2rem;
        a {
            font-size: 1rem;
        }
    }
    .tableCart {
        grid-template-columns: 6rem 1fr 5rem 8rem 4rem 1.4rem;
        span {
            font-size: 1.1rem;
        }
    }
    .tableCartfooter {
        grid-template-columns: 6rem 1fr 5rem 8rem 4rem 1.4rem;
        span {
            font-size: 1.1rem;
        }
        .sumTableCart {
            .sumNoticeTableCart {
                font-size: 0.8rem;
            }
        }
    }
    .contentBlog {
        grid-template-columns: 1fr;
    }
    // .pictureCardCart {
    //     width: 6rem;
    //     height: 7.22rem;
    // }
}

@media screen and (max-width: 460px) {
    .navBarCart {
        width: 36rem;
    }
}

@media screen and (max-width: 400px) {
    .navBarCart {
        width: 32rem;
    }
    .tableCart {
        grid-template-columns: 6rem 1fr 3rem 6rem 4rem 1rem;
        margin-bottom: 1.2rem;
        column-gap: 0.4rem;
        span {
            font-size: 1rem;
        }
    }
    .tableCartfooter {
        grid-template-columns: 6rem 1fr 3rem 6rem 4rem 1rem;
        span {
            font-size: 1rem;
        }
    }
    .pictureCardCart {
        width: 4rem;
        height: 4.81rem;
    }
    .iconDeleteCartContainer {
        width: 1rem;
        height: 1rem;
    }
}

@media screen and (max-width: 340px) {
    .navBarCart {
        width: 28rem;
    }
    .tableCart {
        column-gap: 0.2rem;
        span {
            font-size: 0.9rem;
        }
    }
    .tableCartfooter {
        span {
            font-size: 0.9rem;
        }
    }
}
