
:root {
  font-size: 62.5%; /* --> equivalent to 10px  */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

p {
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Styling imported from WP

// For unwanted first picture:
.image-block-outer-wrapper:nth-child(1) {
  display: none;
}

.image-caption:nth-child(1) {
  font-size:1.2rem;
  font-style: italic;

}
