.container500 {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2.4rem;
}

.content500 {
    width: 118.8rem;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 5.8rem;
    padding: 2.4rem;
}

.text500 {
    height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 2rem;
        font-weight: 600;
        margin: 0 0 2.4rem 0;
    }
    span {
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
    }
    a {
        font-size: 1.5rem;
        font-weight: 300;
        text-decoration: underline;
    }
}

@media screen and (max-width: 1240px) {
    .content500 {
        width: 88.6rem;
    }
}

@media screen and (max-width: 1040px) {
    .content500 {
        width: 68.2rem;
    }
}

@media screen and (max-width: 740px) {
    .content500 {
        width: 58.2rem;
        padding: 1.2rem;
    }

    .text500 {
        h2 {
            font-size: 1.8rem;
        }

        span, a {
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 640px) {
    .content500 {
        width: 48.2rem;
    }
}

@media screen and (max-width: 540px) {
    .content500 {
        width: 42.2rem;
    }
    .text500 {
        h2 {
            font-size: 1.5rem;
        }

        span, a {
            font-size: 1.3rem;
        }
    }
}

@media screen and (max-width: 460px) {
    .content500 {
        width: 36rem;
    }
}

@media screen and (max-width: 400px) {
    .content500 {
        width: 30rem;
    }
}
@media screen and (max-width: 340px) {
    .content500 {
        width: 28rem;
    }
}
