.containerPodcasts {
    width: 100%;
    height: auto;
    min-height: 90vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
    margin-top: 2.4rem;
}

.contentPodcasts {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    column-gap: 2.2rem;
    row-gap: 4.8rem;
    margin-top: 12rem;
}

.navBarPodcast {
    position: fixed;
    width: 118.8rem;
    height: 7.2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #efefef;
    background-color: white;
    opacity: 0.9;
    z-index: 5;
}


.searchInputContainer {
    display: block;
}

.searchMobile {
    position: none;

}

.searchInputMobileContainer {
    position: fixed;
    display: none;
}

.iconSearchMobile {
    display: none;

}


@media screen and (max-width: 1240px) {
    .navBarPodcast,
    .containerLoaderBlog {
        width: 88.6rem;
    }
    .contentPodcasts {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1040px) {
    .navBarPodcast,
    .containerLoaderBlog {
        width: 68.2rem;
    }
    .contentPodcasts {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4.2rem;
    }
}

@media screen and (max-width: 740px) {
    .contentPodcasts {
        column-gap: 3.6rem;
        // margin-top: 14.2rem;
    }
    .navBarPodcast {
        width: 58.2rem;

    }
    .containerLoaderBlog {
        width: 58.2rem;
    }
    .searchInputContainer {
        display: none;
    }

    .searchInputMobileContainer {
        display: fixed;
        width: 100%;
        display: flex;
        flex-grow: row nowrap;
        margin: 7.2rem 0 0 0;
        opacity: 0.9;
        z-index: 5;
        background-color: white;
    }
    .iconSearchMobile {
        display: block;
        position: relative;
        width: 4.2rem !important;
        height: 4.2rem !important;
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        z-index: 5;
    }
}

@media screen and (max-width: 640px) {
    .navBarPodcast {
        width: 48.2rem;
    }
    .searchBarBlog,
    .containerLoaderBlog {
        width: 48.2rem;
    }
    .contentPodcasts {
        column-gap: 3.8rem;
    }
}

@media screen and (max-width: 540px) {
    .navBarPodcast,
    .containerLoaderBlog {
        width: 42.2rem;
    }
    .contentPodcasts {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 460px) {
    .navBarPodcast,
    .containerLoaderBlog {
        width: 36rem;
    }
}

@media screen and (max-width: 400px) {
    .navBarPodcast,
    .containerLoaderBlog {
        width: 30rem;
    }
}

@media screen and (max-width: 340px) {
    .navBarPodcast,
    .containerLoaderBlog {
        width: 28rem;
    }
}
