.containerPodcastPage {
    position: relative;
    width: 118.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.4rem;
    grid-column: 1/5;
}

.podcastPage {
    position: relative;
    width: 72.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.navBarPodcastPage {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.containerBtnPodcastPage{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

}

.iconBackPodcastPage {
    margin-top: 0.2rem;
}

.btnPodcastPage {
    font-size: 1.2rem;
    line-height: 1.0rem;
    margin-left: 1.2rem;
    font-weight: 500;
    text-decoration-line: underline;
    color: black;

}

.picturePodcastPage {
    width: 72.2rem;
    height: 43.6rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.6rem;

}

.titlePodcastPage {
    width: auto;
    height:auto;
    font-family: "Lora", sans-serif;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.6rem;
    letter-spacing: 0em;
    margin-top: 2.6rem;

}

.infoPodcastPage {
    width: auto;
    height: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;

}


.contentPodcastPage {
    width: 72.2rem;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 0 0 6rem 0;


    p {
        font-size: 1.6rem;
        font-weight: 300;
        margin-bottom: 1.8rem;

    }
    strong {
        font-size: 1.6rem;
        font-weight: 600;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 1.6rem;
        font-weight: 500;
    }
}



@media screen and (max-width: 1240px) {
    .containerPodcastPage  {
        width: 88.6rem;
    }

}

@media screen and (max-width: 1040px) {
    .containerPodcastPage  {
        width: 68.2rem;
    }

}

@media screen and (max-width: 740px) {
    .containerPodcastPage  {
        width: 58.2rem;
    }

}

@media screen and (max-width: 640px) {
    .containerPodcastPage  {
        width: 48.2rem;
    }

}

@media screen and (max-width: 540px) {
    .containerPodcastPage  {
        width: 42.2rem;
    }

}

@media screen and (max-width: 460px) {
    .containerPodcastPage  {
        width: 36rem;
    }

}

@media screen and (max-width: 400px) {
    .containerPodcastPage  {
        width: 30rem;

    }

}

@media screen and (max-width: 340px) {
    .containerPodcastPage  {
        width: 28rem;
    }

}
