.containerPostPage {
    position: relative;

    width: 118.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.4rem;
    grid-column: 1/5;
}

.navBarPostPage {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.containerBtnPostPage{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

}

.iconBackPostPage {
    margin-top: 0.2rem;
}

.btnPostPage {
    font-size: 1.2rem;
    line-height: 1.0rem;
    margin-left: 1.2rem;
    font-weight: 500;
    text-decoration-line: underline;
    color: black;

}

.postPage {
    position: relative;

    width: 72.2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.picturePostPage {
    width: 72.2rem;
    height: 43.6rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.6rem;

}

.titlePostPage {
    width: auto;
    height:auto;
    font-family: "Lora", sans-serif;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.6rem;
    letter-spacing: 0em;
    margin-top: 2.6rem;

}

.infoPostPage {
    width: auto;
    height: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;

}


.contentPostPage {
    width: 72.2rem;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 4.8rem 0 12rem 0;
    p {
        margin-bottom: 1.8rem;

    }
}


@media screen and (max-width: 1240px) {
    .containerPostPage  {
        width: 88.6rem;
    }

}

@media screen and (max-width: 1040px) {
    .containerPostPage  {
        width: 68.2rem;
    }

}

@media screen and (max-width: 740px) {
    .containerPostPage  {
        width: 58.2rem;
    }

}

@media screen and (max-width: 640px) {
    .containerPostPage  {
        width: 48.2rem;
    }

}

@media screen and (max-width: 540px) {
    .containerPostPage  {
        width: 42.2rem;
    }

}

@media screen and (max-width: 460px) {
    .containerPostPage  {
        width: 36rem;
    }

}

@media screen and (max-width: 400px) {
    .containerPostPage  {
        width: 30rem;

    }

}

@media screen and (max-width: 340px) {
    .containerPostPage  {
        width: 28rem;
    }

}
