.containerPublications {
    width: 100%;
    height: auto;
    min-height: 90vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
    margin-top: 2.4rem;

}

.navBarPublications {
    position: fixed;
    width: 118.8rem;
    height: 6rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 0.1rem solid #EFEFEF;
    background-color: white;
    opacity: 0.9;
    z-index: 5;
}


.contentPublications {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;    
    column-gap: 2.2rem;
    row-gap: 2.4rem;
    margin-top: 9.4rem;


}


@media screen and (max-width: 1240px) {
    .contentPublications{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1040px) {
    .contentPublications{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 540px) {
    .contentPublications{
        grid-template-columns: 1fr;
    }
}

