.containerPublications {
    width: 100%;
    height: auto;
    min-height: 90vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
    margin-top: 2.4rem;

}

.navBarPublications {
    position: fixed;
    width: 118.8rem;
    height: 7.2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #EFEFEF;
    background-color: white;
    opacity: 0.9;
    z-index: 5;
}

.dropDownMenuPublications {
    position: relative;
    display: inline-block;
}

.dropDownMenuPublications:hover .dropDownButtonPublications {
    display: block;
}

.dropDownButtonPublications {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 500;
    background: transparent;
    border: none;
    &:hover{
        text-decoration: underline;
    }
}

.dropDownContentPublications {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    span {
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: 500;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
}

.contentPublications {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;    
    column-gap: 2.2rem;
    row-gap: 2.4rem;
    margin-top: 10.6rem;


}


@media screen and (max-width: 1240px) {
    .contentPublications{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1040px) {
    .contentPublications{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 540px) {
    .contentPublications{
        grid-template-columns: 1fr;
    }
}

