.containerPublicationPage {
    position: relative;
    width: 118.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.4rem;
    grid-column: 1/5;
}

.navBarPublicationPage {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.containerBtnPublicationPage {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.iconBackPublicationPage {
    margin-top: 0.2rem;
}

.btnPublicationPage {
    font-size: 1.2rem;
    line-height: 1rem;
    margin-left: 1.2rem;
    font-weight: 500;
    text-decoration-line: underline;
    color: black;
}

.PublicationPage {
    position: relative;
    width: 67.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.picturePublicationPage {
    width: 36.1rem;
    height: 43.6rem;
    align-self: center;
    margin-bottom: 2.8rem;
}

.actionContainerPublicationPage {
    width: 100%;
    height: 10rem;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 14.2rem;
    grid-template-rows: 1fr 1fr;
    margin: 1.2rem 0 2.4rem 0;
    align-items: center;
}

.titlePublicationPage {
    width: auto;
    height: auto;
    font-family: "Lora", sans-serif;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.6rem;
    letter-spacing: 0em;
    margin: 1.2rem 0 1.2rem 0;
    grid-column: 1/2;
    grid-row: 1/2;
}

.buttonCardPublicationPage {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}

.infoPublicationPage {
    width: auto;
    height: 3.2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/3;
}

.tagPublicationPage {
    display: block;
    font-size: 1.2rem;  
    // line-height: 1.2rem;
    font-weight: 600;
    color: black;
    padding: 0.4rem 1.2rem;
    border-radius: 0.2rem;
    margin: 0 1.2rem 0 0;
    background-color: #FFD31D;
}

.cartContainer {
    width: 100%;
    height: 2.8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    // margin: 0.8rem 0 0.6rem 0;
    grid-column: 2/3;
    grid-row: 2/3;
}

.cartButtonPublicationPage {
    justify-self: start;
    padding-right: 1.6rem;
}


.pricePublicationPage {
    width: 10.2rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 300;
    margin: 0 1.2rem 0 0 ;
    text-align: end;
}

.contentPublicationPage {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 0 0 6rem 0;
    p {
        font-size: 1.6rem;
        font-weight: 300;
        margin-bottom: 1.8rem;
    }
    strong {
        font-size: 1.6rem;
        font-weight: 500;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.6rem;
        font-weight: 500;
    }
}

@media screen and (max-width: 1240px) {
    .containerPublicationPage {
        width: 88.6rem;
    }
}

@media screen and (max-width: 1040px) {
    .containerPublicationPage {
        width: 68.2rem;
    }
}

@media screen and (max-width: 740px) {
    .containerPublicationPage {
        width: 58.2rem;
    }
    .PublicationPage {
        width: 58.2rem;
    }
    .picturePublicationPage {
width: 32rem;
        height: 36.2rem;
        margin-bottom: 1.2rem;
    }
    .titlePublicationPage {
        font-size: 2.2rem;
    }
    .contentPublicationPage {
        p {
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 640px) {
    .containerPublicationPage {
        width: 48.2rem;
    }
    .PublicationPage {
        width: 48.2rem;
    }
    .picturePublicationPage {
        width: 26rem;
        height: 31.3rem;
        margin-bottom: 1.2rem;
    }
    .titlePublicationPage {
        font-size: 2rem;
    }
}

@media screen and (max-width: 540px) {
    .containerPublicationPage {
        width: 42.2rem;
    }
    .PublicationPage {
        width: 42.2rem;
    }
    .titlePublicationPage {
        font-size: 1.8rem;
    }
    .btnPublicationPage {
        font-size: 1rem;
    }
}

@media screen and (max-width: 460px) {
    .containerPublicationPage {
        width: 36rem;
    }
    .PublicationPage {
        width: 36rem;
    }
    .titlePublicationPage {
        font-size: 1.7rem;

    }
    .picturePublicationPage {
        width: 24rem;
        height: 28.9rem;
        margin-bottom: 0.6rem;
    }
    .actionContainerPublicationPage {
        height: 12.2rem;
        grid-template-columns: 1fr 12rem;
    }

   .infoPublicationPage {
        flex-flow: column;
        height: 4.8rem;
        justify-content: space-between;
    }

    .infoPublicationPage{
        align-items: flex-start;
    }
    .cartContainer{
        height: 4.8rem;
        flex-flow: column;
        align-items: flex-end;
        justify-content: space-between;
    }
    .pricePublicationPage {
        margin: 0;
    }

    .contentPublicationPage {
        p {
            font-size: 1.4rem;
        }
    }
    .subtitlePublicationPage{
        margin-bottom: 2.4rem;
    }
    .priceQuantityContainerPublicationPage{
          
    
        .pricePublicationPage {
            margin: 0.6rem 0 0 0;
        }
    }
    
}

@media screen and (max-width: 400px) {
    .containerPublicationPage {
width: 32rem;
    }
    .PublicationPage {
width: 32rem;
    }
}

@media screen and (max-width: 340px) {
    .containerPublicationPage {
        width: 28rem;
    }
    .PublicationPage {
        width: 28rem;
    }
}
